build_rel/*
build_dbg/*
build_test/*
build_benchmark/*
build/*
*.bin
test/*.coords
test/*.datsets
test/*.desc
test/*.overlays
test/*.prefix_sums
test/*.points
test/*.corners
test/*.tsv
test/*.html
stxxl.errlog
stxxl.log
overlays.html
libsps.pdf
slurm_*
core.*
callgrind.out.*
settings.json
*.prof
perf.data
perf.data.old
firefox.perf